@import url("default.css");

/* START WF table */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay_close {
  cursor: pointer;
  background-color: lightcoral;
  text-align: center;
  padding: 4px;
}

#overlay_content {
  position: absolute;
  top: 15%;
  left: 25%;
}

table#workflowMatrix {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
  background: whitesmoke;
}

td.ol,
th.ol {
  border: 1px;
  border-style: solid;
  padding: 0.4em;
  text-align: center;
}

th.ol,
td.firstCol {
  background-color: lightgrey;
}

div.btn_my_wf {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

div.btn_my_wf:hover {
  background-color: #4095c6;
}

/* END WF table */

/* Toggle switch START */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

label.switch {
	margin-top:10px;
	margin-left:10px;
	margin-right:60px;
}

/* Toggle switch END */